 version: 2
 jobs:
   build:
     docker:
       - image: python:3.5-alpine3.9
     steps:
        - checkout
        - run:
            name: Install curl
            command: |
              apk update && apk add curl &&  rm -rf /var/cache/apk/* 
        - run:
            name: Install Python requirements
            command: |
              echo 'export TAG=${CIRCLE_BUILD_NUM}' >> $BASH_ENV
              echo 'export IMAGE_NAME=${IMAGE_NAME}' >> $BASH_ENV
              pip3 install -r requirements.txt
        - run:
            name: Run Server Tests
            command: |
              python test_scim_server_sigsci.py
        - setup_remote_docker:
            docker_layer_caching: true
        - run:
            name: Install Docker client
            command: |
              set -x
              VER="19.03.2"
              curl -L -o /tmp/docker-$VER.tgz https://download.docker.com/linux/static/stable/x86_64/docker-$VER.tgz
              tar -xz -C /tmp -f /tmp/docker-$VER.tgz
              mv /tmp/docker/* /usr/bin
        - run:
            name: Build and push Docker image
            command: |
              TAG=1.0.$CIRCLE_BUILD_NUM
              docker build -t $DOCKER_LOGIN/$IMAGE_NAME:$TAG .
              echo $DOCKER_PWD | docker login -u $DOCKER_LOGIN --password-stdin
              docker push $DOCKER_LOGIN/$IMAGE_NAME:$TAG
