 version: 2
 jobs:
   build:
     docker:
       - image: python:3.5-alpine3.9
     steps:
       - checkout
       - run: pip3 install -r requirements.txt
       - run: python scim-server-sigsci.py &
       - run: curl https://localhost:5000/exit
